<div class="main-wrapper">
  <div class="flex-box">
    <div class="box-1">
      <div class="messenger">
        <div class="heading"><i class="fab fa-facebook-messenger"></i>&nbsp;<span>Messenger</span>
        </div>
        <div class="users">

          <!-- Dynamic Users -->
          <!-- <div class="user">
                   <div class="user-image"></div>
                   <div class="user-details">
                       <span><strong>Rizwan Khan</strong></span>
                       <span>Last Login</span>
                   </div>
               </div> -->
          <!-- Dynamic users End -->

        </div>
      </div>
    </div>
    <div class="box-2">
      <div class="chat-container">
        <div class="heading"><i class="fas fa-user"></i>&nbsp;
          <span class="name"></span></div>
        <div class="messages">
          <div class="chats">
            <div class="message-container">


              <!-- <div class="message-block">
                  <div class="user-icon"></div>
                  <div class="message">Hi, Govardhan hhow are you..?</div>
              </div>
              <div class="message-block received-message" style="">
                  <div class="user-icon"></div>
                  <div class="message">Hi, Govardhan hhow are you..?</div>
              </div> -->


            </div>
          </div>
          <div class="write-message">
            <div class="message-area">
                            <textarea class="message-input"
                                      placeholder="Type a message"></textarea>
              <button class="send-btn"><i
                  class="fab fa-telegram-plane"></i>&nbsp;Send
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
