<div class="user-login-page">
    <div class="container">
        <div class="login-logo row justify-content-center mb-0 mb-sm-4">
            <div class="col-auto">
                <a href="#">
                    <img id="logo" src="/themes/custom/vov_3t/images/logo/logo.png" alt="#">
                </a>
            </div>

            <div class="col-auto">
                <p class="site-name">
                    NTTCOM
                </p>
            </div>
        </div>

        <div class="login-box row justify-content-center">
            <div class="col-auto">
                <div class="login-body">
                    <span>User Register</span>
                    {{ page.content }}
                </div>
            </div>
        </div>

        <div class="login-footer row">
            <div class="col-12 text-center">
                <p class="management-unit">
                    <span>Management Unit:</span>
                    <span class="font-weight-bold">NTTCOM</span>
                </p>
                <p class="support">
                    <span>Development:</span>
                    <span class="font-weight-bold"> FPT Software</span>
                </p>
            </div>
        </div>
    </div>
</div>