{% if page.header %}
    {{ page.header }}
{% endif %}


{% block main %}
  <main role="main">
    <div class="container">
      {{ page.content }}
    </div>
  </main>
{% endblock %}
<footer class="site-footer">
  <div class="container">
    {{ page.page_bottom }}
  </div>
</footer>
