<div class="user-login-page">
  <div class="container">

    <div class="login-box row justify-content-center">
      <div class="col-auto">
        <div class="login-body">
          {{ page.content }}
          <a href="/user/login" class="forget-pass"><i class="fas fa-arrow-left fa-sm"></i> Return</a>
        </div>
      </div>
    </div>
  </div>
</div>

