{% if page.header %}
  <div class="header d-flex align-items-center">
    <nav class="navbar navbar-expand-lg w-100">
      {{ page.header }}
    </nav>
  </div>
{% endif %}

{% block main %}
  <main role="main">
    <div class="container">
    {{ page.content }}
    </div>
  </main>
{% endblock %}
<footer class="site-footer">
  <div class="container">
    {{ page.page_bottom }}
  </div>
</footer>
