{% block content %}
  {% if site_logo %}
    <a class="navbar-brand text-white" href="{{ path('<front>') }}">
      <img src="{{ site_logo == null ? '/' ~ directory ~'/images/icons/icon_logo.svg' : site_logo }}">
      <span>{{ site_logo == null ? 'Gold-Guide' : '' }}</span>
    </a>
    <button class="navbar-toggler btn-nttcom-navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <img src="/{{ directory ~'/images/icons/icon_collapse.svg' }}" />
    </button>
  {% endif %}
{% endblock %}


