{% block content %}
  {% if site_logo %}
    <a class="navbar-brand text-white d-flex align-items-center" href="{{ path('<front>') }}">
      <img width="38" height="38"  src="{{ '/' ~ directory ~'/images/icons/icon_logo.svg' }}">
      <span class="ml-2">{{ 'Gold-Guide' }}</span>
    </a>
    <button class="navbar-toggler btn-nttcom-navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <img src="/{{ directory ~'/images/icons/icon_collapse.svg' }}" />
    </button>
  {% endif %}
{% endblock %}


