a {
  text-decoration: none !important;
}

.header {
  background-color: #1A4A82;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media only screen and (max-width: 992px) {
  .header .site-logo {
    width: 100%;
    display: flex;
  }
}
.header .site-logo .navbar-toggler {
  margin-left: auto;
}
.header .navbar-toggler {
  border: none !important;
  outline: none;
}
.header .navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .header .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header .header-right a {
  margin-left: 40px;
}
.header .header-right a span {
  margin-left: 15px;
  color: #ffffff;
}
@media only screen and (max-width: 992px) {
  .header .header-right a {
    margin-left: 0;
    margin-right: 40px;
  }
}
.header nav {
  color: #ffffff;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.page-spot {
  padding-bottom: 100px;
}
.page-spot .banner {
  background-image: url("../images/icons/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
@media only screen and (max-width: 768px) {
  .page-spot .banner {
    height: 260px;
  }
}
.page-spot .banner .wrapper {
  background-color: #000;
  opacity: 0.12;
}
.page-spot .banner .text {
  z-index: 1;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
@media only screen and (max-width: 768px) {
  .page-spot .banner .text {
    font-size: 36px;
  }
}
.page-spot .content {
  background-color: #ffffff;
  position: relative;
  top: -20px;
  border-radius: 20px 20px 0 0;
  font-family: "Bebas Neue";
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (max-width: 992px) {
  .page-spot .content {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px 15px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .page-spot .content {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px 12px 0 0;
  }
}
.page-spot .content .title {
  padding-top: 36px;
}
.page-spot .content .title h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #1A4A82;
}
@media only screen and (max-width: 768px) {
  .page-spot .content .title h2 {
    font-size: 36px;
  }
}
.page-spot .content .title span {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #172432;
}
@media only screen and (max-width: 768px) {
  .page-spot .content .title span {
    font-size: 12px;
  }
}
.page-spot .content .title-main {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
  margin-bottom: 17px;
  margin-top: 28px;
}
@media only screen and (max-width: 768px) {
  .page-spot .content .title-main {
    font-size: 18px;
    line-height: 27px;
  }
}
.page-spot .content .main .card-custom {
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(59, 59, 59, 0.24);
  border-radius: 8px;
  margin-bottom: 40px;
}
.page-spot .content .main .card-custom .body-image {
  position: relative;
}
.page-spot .content .main .card-custom .body-image img {
  border-radius: 8px 8px 0 0;
}
.page-spot .content .main .card-custom .body-image .form-check {
  position: absolute;
  top: 0;
  right: 0;
}
.page-spot .content .main .card-custom .body-image .form-check .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-spot .content .main .card-custom .body-image .form-check .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.page-spot .content .main .card-custom .body-image .form-check .checkmark {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 35px;
  width: 35px;
  border-radius: 6px;
  background-color: #ffffff;
  background-image: url("../images/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.page-spot .content .main .card-custom .body-image .form-check .container:hover input ~ .checkmark {
  opacity: 0.9;
}
.page-spot .content .main .card-custom .body-image .form-check .container input:checked ~ .checkmark {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.page-spot .content .main .card-custom .body-image .form-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.page-spot .content .main .card-custom .body-image .form-check .container input:checked ~ .checkmark:after {
  display: block;
}
.page-spot .content .main .card-custom .body-image .form-check .container .checkmark:after {
  width: 35px;
  height: 35px;
  background-image: url("../images/icons/check-on.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFC524;
  border-radius: 6px;
}
.page-spot .content .main .card-custom .body-content {
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .page-spot .content .main .card-custom .body-content {
    padding: 11px 20px;
  }
}
.page-spot .content .main .card-custom .body-content h4 {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 8px;
}
.page-spot .content .main .card-custom .body-content h4 a {
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .page-spot .content .main .card-custom .body-content h4 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 4px;
  }
}
.page-spot .content .main .card-custom .body-content span {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .page-spot .content .main .card-custom .body-content span {
    font-size: 12px;
    line-height: 18px;
  }
}
.page-spot .carousel-custom {
  margin-top: 20px;
  padding-left: 55px;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  .page-spot .carousel-custom {
    padding-left: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .page-spot .carousel-custom {
    padding-left: 27px;
  }
}
.page-spot .carousel-custom .owl-carousel {
  cursor: pointer;
}
.page-spot .carousel-custom .title {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .page-spot .carousel-custom .title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
  }
}
.page-spot .carousel-custom .item .body-image img {
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(59, 59, 59, 0.24);
  border-radius: 8px;
  height: 273px;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .page-spot .carousel-custom .item .body-image img {
    height: 220px;
  }
}
@media only screen and (max-width: 768px) {
  .page-spot .carousel-custom .item .body-image img {
    height: 155px;
  }
}
.page-spot .carousel-custom .item .body-content {
  margin-top: 8px;
}
@media only screen and (max-width: 768px) {
  .page-spot .carousel-custom .item .body-content {
    margin-top: 11px;
  }
}
.page-spot .carousel-custom .item .body-content .title-content {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .page-spot .carousel-custom .item .body-content .title-content {
    font-size: 14px;
    line-height: 21px;
  }
}

.modal-tutorial {
  position: fixed;
  bottom: 0;
  background: rgba(22, 24, 35, 0.75);
  left: 0;
  right: 0;
  text-align: center;
  height: 92px;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .modal-tutorial {
    top: calc(100vh - 72px);
    height: 72px;
  }
}
.modal-tutorial button {
  width: 366px;
  height: 60px;
  background: #FFC524;
  box-shadow: 0px 0px 28px rgba(59, 59, 59, 0.24) !important;
  border-radius: 999999px;
  border: none;
}
.modal-tutorial button span {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
